# Nvidia Finance Modeling for Investment analysis

# Financial Model to forecast performance

In [106]:
import pandas as pd  #import libraries

In [108]:
#loading files

file_path = "IncomeStatment.xlsx"
income_statment = pd.read_excel(file_path,sheet_name = "IncomeStatment")
balance_sheet = pd.read_excel(file_path,sheet_name= "Balance_sheet")
cash_flow = pd.read_excel(file_path,sheet_name = "cash_flow")

In [110]:
income_statment

,Meric,1/26/2025,1/28/2024,29/01/23
0,Revenue,130497,60922.00,26974.00
1,Cost of revemue,32639,16621.00,11618.00
2,Gross profit,97858,44301.00,15356.00
3,Research and development,12914,8675.00,7339.00
4,"Sales, general and administrative",3491,2654.00,2440.00
5,Acquisition termination cost,0,0.00,1353.00
6,Total operating expenses,16405,11329.00,11132.00
7,Operating income,81453,32972.00,4224.00
8,Interest income,1786,866.00,267.00
9,Interest expense,-247,-257.00,-262.00
10,"Other, net",1034,237.00,-48.00
11,"Other income (expense), net",2573,846.00,-43.00
12,Income before income tax,84026,33818.00,4181.00
13,Income tax expense (benefit),11146,4058.00,-187.00
14,Income tax expense (benefit),72880,29760.00,4368.00
15,Net income per Share: Basic,2.97,1.21,0.18
16,Net income per Share: Diluted,2.97 $,1.19,0.17
17,Weighted average shares used in per share : Basic,24555,24690.00,24870.00
18,Weighted average shares used in per share : Di...,24804,24940.00,25070.00

In [112]:
balance_sheet

                                           Metric 26-Jan-25  28-Jan-24
0        Cash and cash equivalents current assert      8589       7280
1            Marketable securities current assert     34621      18704
2         Accounts receivable, net current assert     23065       9999
3                      Inventories current assert     10080       5282
4       Prepaid expenses and other current assets      3771       3080
5                            Total current assets     80126      44345
6                     Property and equipment, net      6283       3914
7                          Operating lease assets      1793       1346
8                                        Goodwill      5188       4430
9                          Intangible assets, net       807       1112
10                     Deferred income tax assets     10979       6081
11                                   Other assets      6425       4500
12                                   Total assets    111601      65728
13          Current liabilities: Accounts payable      6310       2699
14  Accrued and other current liabilities current     11737       6682
15                        Short-term debt current      -          1250
16                      Total current liabilities     18047      10631
17                                 Long-term debt      8463       8459
18          Long-term operating lease liabilities      1519       1119
19                    Other long-term liabilities      4245       2541
20                              Total liabilities     32274      22750
21  issued and outstanding as of January 28, 2024        24         25
22                     Additional paid-in capital     11237      13109
23         Accumulated other comprehensive income        28         27
24                              Retained earnings     68038      29817
25                     Total shareholders' equity     79327      42978
26     Total liabilities and shareholders' equity    111601      65728

In [114]:
cash_flow

,Metric,26-Jan-25,28-Jan-24,29-Jan-23
0,Net income,72880,29760,4368
1,Stock-based compensation expense,4737,3549,2709
2,Depreciation and amortization,1864,1508,1544
3,Deferred income taxes,-4477,-2489,-2164
4,"publicly-held equity securities, net",-1030,-238,45
5,Acquisition termination cost,0,0,1353
6,Other,-502,-278,-7
7,Accounts receivable,-13063,-6172,822
8,Inventories,-4781,-98,-2554
9,Prepaid expenses and other assets,-395,-1522,-1517
10,Accounts payable,3357,1531,-551
11,Accrued and other current liabilities,4278,2025,1341
12,Other long-term liabilities,1221,514,252
13,Net cash provided by operating activities,64089,28090,5641
14,Proceeds from sales of marketable securities,495,50,1806
15,Proceeds from sales of non-marketable equity s...,171,1,8
16,Purchases of marketable securities,-26575,-18211,-11897
17,assets,-3236,-1069,-1833
18,Purchases of non-marketable equity securities,-1486,-862,-85
19,"Acquisitions, net of cash acquired",-1007,-83,-49
20,Other,22,-124,-
21,Net cash provided by (used in) investing activ...,-20421,-10566,7375
22,Proceeds related to employee stock plans,490,403,355
23,Payments related to repurchases of common stock,-33706,-9533,-10039
24,Payments related to tax on restricted stock units,-6930,-2783,-1475
25,Repayment of debt,-1250,-1250,-
26,Dividends paid,-834,-395,-398
27,assets,-129,-74,-58
28,Other,0,-1,-2
29,Net cash used in financing activities,-42359,-13633,-11617
30,Change in cash and cash equivalents,1309,3891,1399
31,Cash and cash equivalents at beginning of period,7280,3389,1990
32,Cash and cash equivalents at end of period,8589,7280,3389
33,"Cash paid for income taxes, net",15118,6549,1404
34,Cash paid for interest,246,252,254

In [116]:
pip install yfinance

Requirement already satisfied: yfinance in c:\users\admin\anaconda3\lib\site-packages (0.2.55)
Requirement already satisfied: pandas>=1.3.0 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (3.17.9)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\admin\anaconda3\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\admin\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\admin\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\admin\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2024.8.30)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [123]:
import yfinance as yf #market trends

nvda = yf.Ticker("NVDA")
df = nvda.history(period="5y")  # Last 5 years of data
df.to_csv("nvda_stock.csv")  # Save for further analysis

In [125]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-03-27 00:00:00-04:00,6.227058,6.553854,6.194179,6.295057,638828000,0.0,0.0
2020-03-30 00:00:00-04:00,6.360565,6.624593,6.316478,6.615376,602252000,0.0,0.0
2020-03-31 00:00:00-04:00,6.655479,6.859727,6.420096,6.565810,949960000,0.0,0.0
2020-04-01 00:00:00-04:00,6.367789,6.514249,6.009858,6.054443,656912000,0.0,0.0
2020-04-02 00:00:00-04:00,6.083586,6.376507,6.035513,6.363306,675764000,0.0,0.0
...,...,...,...,...,...,...,...
2025-03-21 00:00:00-04:00,116.940002,117.989998,115.419998,117.699997,266498500,0.0,0.0
2025-03-24 00:00:00-04:00,119.879997,122.220001,119.339996,121.410004,228452500,0.0,0.0
2025-03-25 00:00:00-04:00,120.550003,121.290001,118.919998,120.690002,167447200,0.0,0.0
2025-03-26 00:00:00-04:00,118.730003,118.839996,112.709999,113.760002,293463300,0.0,0.0
2025-03-27 00:00:00-04:00,111.345001,114.449997,110.669998,111.964996,148756600,0.0,0.0

In [127]:
df = df.reset.index() #reset index

AttributeError: 'DataFrame' object has no attribute 'reset'

In [129]:
df['Date'] = df['Date'].dt.strftime("%d-%b-%y") #date with correct format

KeyError: 'Date'

In [131]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-03-27 00:00:00-04:00,6.227058,6.553854,6.194179,6.295057,638828000,0.0,0.0
2020-03-30 00:00:00-04:00,6.360565,6.624593,6.316478,6.615376,602252000,0.0,0.0
2020-03-31 00:00:00-04:00,6.655479,6.859727,6.420096,6.565810,949960000,0.0,0.0
2020-04-01 00:00:00-04:00,6.367789,6.514249,6.009858,6.054443,656912000,0.0,0.0
2020-04-02 00:00:00-04:00,6.083586,6.376507,6.035513,6.363306,675764000,0.0,0.0
...,...,...,...,...,...,...,...
2025-03-21 00:00:00-04:00,116.940002,117.989998,115.419998,117.699997,266498500,0.0,0.0
2025-03-24 00:00:00-04:00,119.879997,122.220001,119.339996,121.410004,228452500,0.0,0.0
2025-03-25 00:00:00-04:00,120.550003,121.290001,118.919998,120.690002,167447200,0.0,0.0
2025-03-26 00:00:00-04:00,118.730003,118.839996,112.709999,113.760002,293463300,0.0,0.0
2025-03-27 00:00:00-04:00,111.345001,114.449997,110.669998,111.964996,148756600,0.0,0.0

In [133]:
# calculate revenue growth = (current period revenue -  previous period revenue) / previous period revenue * 100

income_statment['Revenue_growth'] = income_statment['revenue'].pct_change() * 100

KeyError: 'revenue'